<GameSettings>
 <LeibzigDemo>
  <Enabled>false</Enabled>
  <RecordsList>
   <e0>Demo\A.rec</e0>
  </RecordsList>
  <MissionsList>
   <e0>#DEMO1@</e0>
  </MissionsList>
  <VideoList>
   <e0>2.bik</e0>
   <e1>3.bik</e1>
  </VideoList>
  <StayTime>90000</StayTime>
  <VideoScaleX>100</VideoScaleX>
  <VideoScaleY>90</VideoScaleY>
 </LeibzigDemo>
 <SVOpt>
  <ScreenSizeX>1280</ScreenSizeX>
  <ScreenSizeY>1024</ScreenSizeY>
  <SoundVolume>100</SoundVolume>
  <MusicVolume>40</MusicVolume>
  <RequiredMsPerFrame>30</RequiredMsPerFrame>
  <ScrollSpeed>6</ScrollSpeed>
  <MusicPlayMode>0</MusicPlayMode>
  <WaterQuality>false</WaterQuality>
  <SleepTimeForDemo>100</SleepTimeForDemo>
  <RazduplingTimeForDemo>20000</RazduplingTimeForDemo>
  <SelectionType>Blinking</SelectionType>
 </SVOpt>
 <VideoList>
  <VideoFile>
   <File>1.bik</File>
   <ScaleX>0.999999</ScaleX>
   <ScaleY>0.850000</ScaleY>
  </VideoFile>
 </VideoList>
 <CheckG17_dates>false</CheckG17_dates>
 <AllowFormationsStatesProcessing>false</AllowFormationsStatesProcessing>
 <ShowWayOnRoad>true</ShowWayOnRoad>
 <ShowFPS>true</ShowFPS>
 <HintDebugMode>false</HintDebugMode>
 <StartMode>Perspective</StartMode>
 <ShadowQuality>High</ShadowQuality>
 <AnimQuality>0</AnimQuality>
 <ShowChat>true</ShowChat>
 <ShowRecListTime>10000</ShowRecListTime>
 <GameDayLength>600</GameDayLength>
 <DisableHint>false</DisableHint>
 <DisableVideo>false</DisableVideo>
 <DisableSelectionBar>false</DisableSelectionBar>
 <DisableMinimap>false</DisableMinimap>
 <ReleaseInterface>false</ReleaseInterface>
 <ShowAurasMarker>false</ShowAurasMarker>
 <SelBarGP>interf3\selbar</SelBarGP>
 <gpRally>Interf3\exitpoint</gpRally>
 <gpMove>Interf3\moveon</gpMove>
 <DisableFriendlyFire>false</DisableFriendlyFire>
 <PeasantAutoWork>false</PeasantAutoWork>
 <EnableSubtitres>true</EnableSubtitres>
</GameSettings>
